.form-container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.rout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    

}


@media(max-width: 1080px){
    .form-container{
        align-items: center;
        flex-direction: column;
    }
}