.form-container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.rout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    

}
.auto-type{
display: flex;
flex-direction: column;
width: 100%;
gap: .5rem;
}
.label{
    display: flex;
    gap: .2rem;
    cursor: pointer;
}


@media(max-width: 900px){
    .form-container{
        align-items: center;
        flex-direction: column;
    }
}