@use '../../shared/styles/colors';
@use '../../shared/styles/mixins';
.form-wrapper{
    position: relative;   
    max-width: 1070px;
    width: 100%;
    min-height: 620px;
    height: 100%;
    box-shadow: -19px 11px 22px -7px colors.$shadow-calor2;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 2.5rem 1rem 0;
    padding: 2.5rem 3rem;
}
.button-container{
    @include mixins.flex;
    gap: 2rem;
}

@media(max-width: 600px){
    .form-wrapper{
        padding: 2rem 1rem;        
    }
}
