@use '../../shared/styles/mixins';
.map-container{
    flex: 1;
}
.inputs_container{
    @include mixins.flex;

    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    padding: 1rem .5rem;
    margin-bottom: 1rem;   
}
.from-control, .to-control{
    position: relative;
    background-image: url('../../media/map-gps.svg');
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: 99%;
   
}
@media(max-width: 940px){
    .map-container{
        width: 100%;
    }
}
@media(max-width: 500px){
    .inputs_container{
        flex-direction: column;
    }
}