@use '../../shared/styles/mixins';
.map-container{
    flex: 1;
}
.inputs_container{
    @include mixins.flex;

    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    padding: 1rem .5rem;
    margin-bottom: 1rem;   
}
.from-control, .to-control{
    width: 100%;
    @include mixins.inputIcon("\1F6A9");
   
}
@media(max-width: 940px){
    .map-container{
        width: 100%;
    }
}
@media(max-width: 500px){
    .inputs_container{
        flex-direction: column;
    }
}