
@use '../../shared/styles/mixins';

.details_container{
    position: relative;
    display: flex;
    gap: 5%;
    margin-bottom: 1rem;
    z-index: 1;
}
.user-data_container{
    display: flex;
    flex-direction: column;    
    flex: 1;   
}

.user-data{
    display: flex; 
    gap: 2rem;
   
    div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex:1;
        width: 100%;
        
        div{
            margin-bottom: 1.5rem;
        }
    }
}
.notes-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
 
}
.notes{
    min-height: 6rem;
}
.payment-type-container{
    flex: 1;
 
}
.type-container{
    display: flex;
    flex-direction: column;
   
}
.user-data_label{
    margin-bottom: .5rem;
}
.name-input{
    @include mixins.inputIcon('\2705');  
}

.email-input{
    @include mixins.inputIcon("\2709");  
}
.phone-input{  
  
    @include mixins.inputIcon('\260E');
}
.date-input{
    @include mixins.inputIcon('\1F4C5'); 
}

@media(max-width: 940px){
    .details_container{      
        flex-direction: column; 
        gap: 2rem;       
    }
}
@media(max-width: 580px){
 
    .user-data{
        flex-direction: column;
        gap: 0;
    }
}