$back-color: #000;
$wite-color:  #ffffff;
$error-color:red;
$background-input-color: #F8F9F9;
$dark-gray-color:#363434;
$middle-grey-color:#3E4756;
$lite-gray-color:#818a91;
$shadow-calor:rgba(0,0,0,.1);
$shadow-calor2:rgba(0, 0, 0, 0.16);
$input-color: #f4f4f4;
$btn-color: #FDC501;
$subtitle-color:#7a7a7a;