@mixin inputIcon ($img){
    position: relative;
    &:before {
        content: $img	;
        position: absolute;
       
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
      
        width: 20px;
      
      
      } 
}
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin wrapper{
    position: absolute;   
    background-color: transparent;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    @include flex;
}