.form-container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    
}
.rout-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    width: 100%;
   
    

}
.auto-type{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .8rem;
    margin-bottom: 1rem;
}

.auto_detail{
    text-align: start;
}
.price_detail{
    color: red;
 
}
.hidden{
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
    .button{
        display: none;
    }
}

.continue_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}
@media(max-width: 900px){
    .form-container{
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
}