@use './shared/styles/colors';
@import "~bootstrap/scss/bootstrap";


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.button{
    border:1px solid colors.$back-color;    
    font-size: 18px;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: none;
    background-color: colors.$btn-color;
    color: colors.$wite-color;
    flex-basis: auto;
    transition: .5s ease;
    &:hover{
      background-color:colors.$middle-grey-color;
    }
}
.input{
  padding: 6px 16px;
  border-radius: 4px;
  color:colors.$dark-gray-color;
  border: 1px solid colors.$lite-gray-color;
  background-color:colors.$background-input-color;
  box-shadow: inset 0 0 0 1px colors.$shadow-calor;
  outline: 0;
  min-height: 47px;
  width: -webkit-fill-available;
}
.label{ 
  width: 100%;
  color: colors.$subtitle-color;
  cursor: pointer;
}
.error{
  position: absolute;
  left: 0;
  top: 100%;
  color: colors.$error-color;
  font-size: 14px;
 
}
.title{
  margin-bottom: 1rem;
}
.subtitle{
  word-wrap:break-word;
  text-align: center;
}
.nowrap{
  white-space: nowrap;
}
.form_radio {
  margin: 0.4rem 0;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background:  colors.$input-color;
        border-radius: 100%;
        border: 1px solid darken( colors.$input-color, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        bottom: 0.15rem;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: colors.$btn-color;
          box-shadow: inset 0 0 0 4px colors.$input-color;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: colors.$btn-color;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px colors.$input-color;
          border-color: darken(colors.$input-color, 25%);
          background: darken( colors.$input-color, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}